$status-progress-color: blue;
$status-cancelled-color: red;
$status-success-color: green;

$status-approved-fill-color: #1AC258;
$status-rejected-fill-color: #D92836;
$status-inprogress-fill-color: #3E7DC3;
$status-draft-fill-color: #AFADAD;

$status-approved-buffer-color: #C8F1D6;
$status-rejected-buffer-color: #EFA2A7;
$status-inprogress-buffer-color: #86ADDA;
$status-draft-buffer-color: #E3E3E3;

.percentage {
  position: relative;
  // background:#F7F7F7; 
  padding: 2px 2px 2px;
  bottom: 0em;
  font-size: 60%;
  color: black;
}

.percentage-span {
  position: relative;
  background: #F7F7F7;
  padding: 2px 2px 0px;
  bottom: -1.5em;
  font-size: 60%;
  color: black;
}

.icon-size-vessel {
  width: 2rem !important;
  height: 2.3rem !important;
  min-width: 2rem !important;
  min-height: 2rem !important;
  font-size: 2rem !important;
  line-height: 2rem !important;
}

::ng-deep .mat-progress-bar {
  height: 7px;
}

.table-flag {
  border: 1px solid #ddd;
  // padding: 1px;
}

.info-icon-size-8 {
  width: 1rem !important;
  height: 1rem !important;
  min-width: 1rem !important;
  min-height: 1rem rem !important;
  font-size: 2rem !important;
  line-height: 2rem !important
}

// .mat-progress-bar.downloadProgress .mat-progress-bar-fill::after {
//   background-color: red;
// }

// ::ng-deep .mat-progress-bar-fill::after{
//   background-color: yellow !important;
// }
// ::ng-deep .mat-progress-bar-buffer {
//   background: gray !important;
// }

.btn-TransactionLog {
  border: 1px solid var(--unnamed-color-5392d9);
  border: 1px solid #5392D9;
  opacity: 1;
  color: #5392D9;
  font-size: small;
  width: 110px;
}

.btn-Status {
  min-width: 10px;
  color: black;
  font-size: small;
  font-weight: bold;
}

.color-approved {
  background: lighten($status-approved-fill-color, 53%) !important;
}

.color-rejected {
  background: lighten($status-rejected-fill-color, 47%) !important;
}

.color-inprogress {
  background: lighten($status-inprogress-fill-color, 46%) !important;
}

.color-draft {
  background: #E9E9E9 !important;
}

.text-color-approved {
  color: #1AC258;
}

.text-color-rejected {
  color: #D92836;
}

.text-color-inprogress {
  color: #3E7DC3;
}

.text-color-draft {
  color: #E9E9E9;
}

.horizontal-line {
  margin: 4px 0;
  border-bottom-width: 0px;
}

.blue-box {
  /* Layout Properties */
  top: 490px;
  left: 690px;
  height: 38px;
  /* UI Properties */
  background: #E8F3FF 0% 0% no-repeat padding-box;
  border-radius: 7px 7px 0px 0px;
  opacity: 1;
}

.blue-vertical-line{
  top: 496px;
left: 768px;
width: 0px;
height: 27px;
/* UI Properties */
border: 1px solid #D5E9FF;
opacity: 1;
}

.card-width{
  width: 379px;
}

.hideEta{
  visibility:hidden;
}