<!-- <app-sample-listing></app-sample-listing> -->
<div class="page-wrap">
<header>
  <h1> <img src="../../../assets/img/logo.svg" /> <span>GENERAL COMPONENTS - DEMO </span></h1>
  <nav>
    <a routerLinkActive="active"  routerLink ="/table" > General Listing</a>
    <a routerLinkActive="active"  routerLink ="/vessel-call" > Vessel CAll  Listing</a>
    <a routerLink ="/card" > Voyage Info Card</a>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
  <app-sample-listing></app-sample-listing>
</main>
</div>
